/*******************
Timeline page
******************/

.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
	&:before {
		content: " ";
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 50%;
	    width: 3px;
	    margin-left: -1.5px;
	    background-color: $gray-200;
	}
	>.timeline-item {
	    position: relative;
	    margin-bottom: 20px;
		&:before,
		&:after {
			content: " ";
    		display: table;
		}
		&:after {
			clear: both;
		}
		>.timeline-panel {
		    float: left;
		    position: relative;
		    width: 46%;
		    padding: 20px;
		    border: 1px solid $border-color;
		    border-radius: $border-radius;
		    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
		    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
			&:before {
				content: " ";
			    display: inline-block;
			    position: absolute;
			    top: 26px;
			    right: -8px;
			    border-top: 8px solid transparent;
			    border-right: 0 solid $border-color;
			    border-bottom: 8px solid transparent;
			    border-left: 8px solid $border-color;
			}
			&:after {
				content: " ";
			    display: inline-block;
			    position: absolute;
			    top: 27px;
			    right: -7px;
			    border-top: 7px solid transparent;
			    border-right: 0 solid $gray-0;
			    border-bottom: 7px solid transparent;
			    border-left: 7px solid $gray-0;
			}
		}
		>.timeline-badge {
		    z-index: 10;
		    position: absolute;
		    top: 16px;
		    left: 50%;
		    width: 50px;
		    height: 50px;
		    margin-left: -25px;
		    border-radius: 50% 50% 50% 50%;
		    text-align: center;
		    font-size: 1.4em;
		    line-height: 50px;
		    color: #fff;
		    overflow: hidden;
			&.primary {
			    background-color: $primary;
			}
			&.success {
			    background-color: $success;
			}
			&.warning {
			    background-color: $warning;
			}
			&.danger {
			    background-color: $danger;
			}
			&.info {
			    background-color: $info;
			}
		}
		&.timeline-inverted>.timeline-panel {
		    float: right;
			&:before {
				right: auto;
			    left: -8px;
			    border-right-width: 8px;
			    border-left-width: 0;
			}
			&:after {
				right: auto;
			    left: -7px;
			    border-right-width: 7px;
			    border-left-width: 0;
			}
		}
	}
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-weight: 400;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-left{
    &:before {
        left: 30px;
    }
    > .timeline-item > .timeline-badge{
        left:30px;
        top:9px;
    }
    > .timeline-item > .timeline-panel{
        width: calc(100% - 80px);
    }
}
.timeline-right{
    &:before {
        right: 30px;
        left:auto;
    }
    > .timeline-item > .timeline-badge{
        right:5px;
        top:9px;
        left:auto;
    }
    > .timeline-item > .timeline-panel{
        width: calc(100% - 80px);
    }
}

/*******************
Horizontal Timeline page
******************/

.cd-horizontal-timeline{
	.events{
		a {
		    padding-bottom: 6px;
		    color: $info;
			&.selected::after {
				border-color: $info;
			}
		}
	} 
	.filling-line,
	.events a.selected::after {
	    background: $info;
	}
	.m-t-40 {
	    margin-top: 40px!important;
	} 
} 
