$sidebarheight:57px;
$sidebar-link-hor-padding: 13px 34px 13px 20px;
$topbar-height: 70px;

#main-wrapper[data-layout="horizontal"] {

    .right-part {
        height: calc(100vh - 180px);
    }

    .chat-container {
        .chat-box {
            height: calc(100vh - 365px) !important;
        }
    }

    .topbar {
        .top-navbar {
            .navbar-header {
                line-height: $topbar-height;

                .navbar-brand {
                    height: $topbar-height;
                }
            }

            .navbar-nav>.nav-item>.nav-link {
                line-height: $topbar-height;
            }
        }
    }

    /****************************
    This is for the fixed header layout
    ***************************/
    &[data-header-position="fixed"] {
        .topbar {
            position: fixed;
            width: 100%;
        }

        .left-sidebar {
            padding-top: $topbar-height;
        }
    }

    /****************************
    This is for the fixed sidebar layout
    ***************************/
    &[data-sidebar-position="fixed"] {
        .topbar {
            position: fixed;
            width: 100%;
        }

        .left-sidebar {
            padding-top: $topbar-height;
            position: fixed;

        }

        .page-wrapper {
            padding-top: 78px;
        }
    }
}

/****************************
This is for the horizontal layout
***************************/

@include media-breakpoint-up(lg) {
    #main-wrapper[data-layout="horizontal"] {
        .sidebar-nav {
            #sidebarnav {
                .sidebar-item {
                    .sidebar-link {
                        padding: $sidebar-link-hor-padding;
                    }
                }
            }
        }

        .mega-dropdown .first-level {
            max-height: 400px;
            overflow: auto;
        }
    }
}

@include media-breakpoint-up(lg) {
    #main-wrapper[data-layout="horizontal"] {
        background: $body-bg;

        .topbar {
            transition: 0s;
        }

        .page-wrapper {
            box-shadow: none;
        }

        /****************************
        This is for the Boxed horizontal layout
        ***************************/
        &[data-boxed-layout="boxed"] {

            .top-navbar,
            .scroll-sidebar,
            .page-wrapper {
                max-width: $boxed-width;
                margin: 0 auto;
                position: relative;
            }

            .sidebar-nav {
                #sidebarnav {
                    flex-wrap: wrap;

                    >.sidebar-item>.has-arrow:after {
                        display: block;
                    }
                }

                .sidebar-item {
                    flex: 1 1 0;
                }

            }
        }

        &[data-sidebar-position="fixed"] {
            .page-wrapper {
                padding-top: 128px;
            }
        }

        /****************************
        This is for the horizontal layout
        ***************************/
        .topbar .top-navbar {
            .navbar-header {
                width: 215px;
                border-right: 1px solid rgba(0, 0, 0, 0.1);
            }

            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        .search-bar {
                            padding-right: 0;
                        }
                    }
                }
            }
        }

        .topbar .sidebartoggler {
            display: none;
        }

        .left-sidebar {
            width: 100%;
            height: auto;
            position: relative;
            padding-top: 0px;
            z-index: 45;
            transition: 0s;

        }

        .sidebar-nav ul {
            display: flex;
        }

        .scroll-sidebar {
            height: auto;
        }

        .sidebar-nav {
            #sidebarnav {
                display: flex;
                width: 100%;

                .sidebar-item {
                    position: relative;
                    width: auto;

                    .sidebar-link {
                        margin-right: 0;

                        .feather-icon,
                        i {
                            margin-right: 10px;
                        }
                    }

                    &.selected>.sidebar-link {
                        border-radius: 0px;
                    }
                }

                >.sidebar-item {
                    border-right: 1px solid rgba(0, 0, 0, 0.1);

                    &:last-child {
                        border-right: none;
                    }

                    >.has-arrow:after {
                        transform: rotate(-135deg) translate(0, -50%);
                    }

                    &:last-child>.first-level {
                        right: 0px;
                        left: auto;
                    }

                    >.two-column+.first-level {
                        width: 400px;

                        >.sidebar-item {
                            float: $lft;
                            width: 50%;
                            vertical-align: top;
                        }
                    }
                }

                >.sidebar-item ul {
                    position: absolute;
                    left: 0px;
                    top: auto;
                    width: 220px;
                    padding-bottom: 0px;
                    z-index: 100;
                    display: none;
                    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
                }

                >.mega-dropdown {
                    position: static;

                    .first-level {
                        width: 100%;

                        >li {
                            width: 25%;
                            float: $lft;
                        }
                    }
                }

                >.sidebar-item:hover {
                    background: rgba(0, 0, 0, 0.035);
                }

                >.sidebar-item:hover ul.first-level,
                >.sidebar-item:hover ul.first-level.collapse {
                    display: block;

                     >li {
                        background: rgba(0, 0, 0, 0.035);
                    }
                }

                >.sidebar-item ul.second-level {
                    left: 220px;
                    top: 0px;

                }

                >.sidebar-item:last-child>.first-level ul.second-level,
                >.sidebar-item .first-level .right-side-dd ul.second-level {
                    right: 220px;
                    top: 0px;
                    left: auto;
                }

                ul.first-level>.sidebar-item:hover ul.second-level {
                    display: block;
                }

                >.sidebar-item>.has-arrow:after,
                .nav-small-cap,
                .sidebar-footer,
                .user-pro,
                .badge {
                    display: none;
                }
            }
        }

        .sidebar-nav .has-arrow::after {
            right: 20px;
        }
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #main-wrapper[data-layout="horizontal"] {

        .sidebar-nav>ul>.sidebar-item>.sidebar-link i,
        .sidebar-nav>ul>.sidebar-item>.sidebar-link .feather-icon {
            display: none;
        }

        .sidebar-nav #sidebarnav>.sidebar-item {
            flex: auto;
        }

    }

    /****************************
    This is for the fixed sidebar layout
    ***************************/
    &[data-sidebar-position="fixed"] {
        .left-sidebar {
            overflow: auto;
        }
    }
}

// ###############################################
// Tablet Layout
// ###############################################
@include media-breakpoint-down(lg) {
    // 
    // Main wrapper
    #main-wrapper[data-layout="horizontal"] {

        // Sidebar type=mini-sidebar
        // ###############################################
        &[data-sidebartype="mini-sidebar"] {

            // Left sidebar
            // 
            .left-sidebar,
            .left-sidebar .sidebar-footer {
                left: -$sidebar-width-full;
            }
        }

        // Open sidebar
        // ###############################################
        &.show-sidebar {
            .left-sidebar,
            .left-sidebar .sidebar-footer {
                left: 0;
            }
        }

        // Sidebar position fixed with vertical layout && both with fixed
        // ###############################################
        &[data-layout="vertical"][data-sidebar-position="fixed"],
        &[data-layout="vertical"][data-header-position="fixed"][data-sidebar-position="fixed"] {

            // Topbar
            // 
            .topbar .top-navbar {
                .navbar-collapse {
                    position: relative;
                    top: $topbar-height;
                }
            }
        }
    }
}

@include media-breakpoint-only(md) {
    #main-wrapper[data-layout="horizontal"] {
        .topbar .top-navbar {
            .navbar-collapse.show, .navbar-collapse.collapsing {
                display: block;
                width: 100%;
                border-top: 1px solid $border-color;
            }
            .navbar-nav {
                flex-direction: row;
                .dropdown{
                    position: static;
                }
            }
            .navbar-nav>.nav-item>.nav-link{
                padding: 0 10px;
            }
            .navbar-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
            .dropdown-menu {
                position: absolute;
                width: 100%;
                 .with-arrow{
                    display: none;
                }
            }
        }
    }
}